<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% load staticfiles %}
	<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
	<script src="{% static 'search/js/jquery/2.0.3/jquery.min.js' %}"></script>
	<link rel="stylesheet" href="//apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href="{% static 'search/css/style.css' %}" rel="stylesheet">
    <title>search</title>
</head>
<body class="search-body">
    <div ng-app="searchApp" ng-controller="searchController">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<section class="search-panel">
						<div class="panel-body">
							<div class="col-sm-6 margin-left-25">
								<input type="text" class="form-control spinner search-input" placeholder="{{ count }} data" ng-model="search">
								<button class="btn btn-info search-botton" ng-click='searchResult()'>Search</button>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div>
				<ul>
					<li ng-repeat="result in search_result">
						<span><a ng-href="[[result.url]]" target="blank" ng-click="searchRecord(result)">[[ result.name ]]</a></span>
						<span>[[ result.file_type ]]</span>
						<span>[[ result.author ]]</span>
					</li>
				</ul>
			</div>
		</div>
    </div>
    <script>
        app = angular.module('searchApp', []);
        app.config(function($interpolateProvider) {
            $interpolateProvider.startSymbol('[[');
            $interpolateProvider.endSymbol(']]');
        });
		app.controller('searchController', function($scope, $http){
		    $scope.resource_id = '';
			$scope.searchResult = function(){
				$http({
					method: 'POST',
					url: '/search',
					data: {
                        "search": $scope.search
                    }
				}).then(function successCallback(response) {
						$scope.search_result = response.data.search_result_list;
					}, function errorCallback(response) {
						console.log(response)
				});
			};
			$scope.searchRecord = function (result) {
                $http({
                    method: 'POST',
                    url: '/create_record',
                    data: {
                        "keyword": $scope.search,
                        "customer_id": 123456,
                        "resource_id": result.id,
                        "resource_name": result.name
                    }
                }).then(function successCallback(response) {
                    console.log(response)
                })
            }
		})
    </script>
</body>
</html>