<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <title>search</title>
</head>
<body>
    <div ng-app="searchApp" ng-controller="searchController">
         <input type="text" ng-model="search">
		 <button ng-click='searchResult()'>搜索</button>  
    </div>
    <script>
        app = angular.module('searchApp', []);
        app.config(function($interpolateProvider) {
            $interpolateProvider.startSymbol('[[');
            $interpolateProvider.endSymbol(']]');
        });
		app.controller('searchController', function($scope, $http){
			$scope.searchResult = function(){
				$http({
					method: 'POST',
					url: '/search',
					data: {search: $scope.search}
				}).then(function successCallback(response) {
						console.log(response)
					}, function errorCallback(response) {
						console.log(response)
				});
			};
		})
		
    </script>
</body>
</html>